<div class="w-60">
  <h2>
    feed
  </h2>
  <LinkTo @route="login">
    logout
  </LinkTo>
  <hr />
  <div class="flex justify-between items-center">
    {{svg-jar "logo"}}
    <div class="flex flex-col">
      <a href="#">
        contact
      </a>
      <a href="#">
        careers
      </a>
      <a href="#">
        faq
      </a>
    </div>
    <div class="flex flex-col">
      <a href="#">
        about
      </a>
      <a href="#">
        privacy
      </a>
      <a href="#">
        terms
      </a>
    </div>
  </div>
</div>